
@{
    ViewBag.Title = "ErrorPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style=" margin: 40px 0 200px 0; text-align: center;">
    <h2>Xảy ra lỗi khi đặt hàng!</h2>
    <a href="@Url.Action("Index","Home")">Về trang chủ</a>
</div>

